.tags
    margin-top rem(30px)
    a
        font-size rem(14px)
        color secondary
        display inline-block
        border 1px solid secondary
        border-radius rem(5px)
        padding rem(4px) rem(10px)
        margin-right rem(2px)
        margin-bottom rem(8px)
        text-decoration none !important
        &:hover
            background secondary
            color white !important

.img-rounded
    border-radius 50%