.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    background main
    padding rem(25px) rem(10px)
    margin-top 100px
    p,a
        mainFont(300)
        color white
        font-weight bold
        text-decoration none
        text-align center
        margin 0
    a
        border-bottom 1px dashed white